.banright{
    flex: 3;
}
.wrapright{
    padding: 20px 20px 0 0;
    background-color: #f2f3f2;
}
.birthdayContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.giftImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.giftText{
    font-weight: 300;
    font-size: 15px;
}
.ad{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}
.rtFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.rtFriend{
    display: flex;
    margin-right: 15px;
    align-items: center;
}
.rtProfileImgContainer{
    margin-right: 10px;
    position: relative;
}
.rtProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}
.rtTitle{
    margin-bottom: 20px;
}
.rtOnline{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: limegreen;
    position: absolute;
    top:-2px;
    right:0;
    border: 2px solid #f2f3f2;
}
.rtUser{
    font-weight: 500;
}

.userTitle{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.basicInfo{
    list-style: none;
    margin-bottom: 30px;
    font-weight: 399;
    font-size: 15px;
}

.basicItem{
    margin-bottom: 10px;
}

.following{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.followingsInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.followImg{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}
.followUser{
    text-align: center;
}